/* 
Extra small	        None	<576px
Small	            sm	    ≥576px
Medium	            md	    ≥768px
Large	            lg	    ≥992px
Extra large	        xl	    ≥1200px
Extra extra large	xxl	    ≥1400px
*/

$vista:mobile;

body{
    @if $vista == mobile {
		@media only screen and (max-width:991px){
            nav{
                justify-content: flex-end;
                padding-right: 6.5rem !important;
                ul {
                    z-index: 100;
                    position: absolute;
                    top: 10rem;
                    margin-top: 0px;
                    left: 0;
                    flex-direction: column;
                    width: 100%;
                    justify-content: center;
                    align-items: center;
                    li{
                        a::after{
                            display: none;
                        }
                    }
                }        
            }
            .menu-button-container {
                display: flex;
            }
            #menu-toggle {
                ~ ul {
                    li {
                        height: 0;
                        margin: 0;
                        padding: 0;
                        border: 0;
                        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
                        background: none;
                    }
                }
                &:checked{
                    ~ ul {
                        li {
                            height: 5rem;
                            padding: 0.5em;
                            transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
                            background: none;
                        }
                    }  
                }
            }
            ul {
                li {
                    display: flex;
                    justify-content: center;
                    margin: 0;
                    padding: 0.5em 0;
                    width: 100%;
                    color: white;
                    background-color: #d6d6d6;
                }
            }

            .gallery {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                gap: 30px;
                > img {
                    border: solid 6px #212427;
                }
            }

            .bc_ppal{
                padding-right: 3rem !important;
            }

            .b_titulo_ct {
                font-size: 11rem;
                line-height: 11rem;
            }
            
            .b_sub_titulo_ct {
                line-height: 4rem;
            }
		}
    }
}

//Extra small
@media (max-width: 575px) {
    .home_tit{
        font-size: 4.5rem; 
        padding: 6rem 0;
    }
    .home_com{
        font-size: 1.1rem;
        padding-left: 3rem;
    }
    .link_about{
        font-size: 1.2rem;
    }

    .b_cent_ab{
        font-size: 3.5vw;
    }
    .b_tit_wizq{
        font-size: 11vw;
        border-bottom: solid 8px #212427;
    
        grid-column: 1 / 11;
        grid-row: 1;
    
        z-index: 2;
    }
    .cont_wnoesarte {
        margin-top: -3rem;
        grid-column: 2 / 12;
        grid-row: 5;
    
        z-index: 1;
    }
    .det_w{
        font-size: 1.2rem;
        padding-top: 12px;
    }
    .b_tit_wder{
        font-size: 11vw;
        border-bottom: solid 8px #212427;
    
        grid-column: 3 / 13;
        grid-row: 1;

        z-index: 2;
    }
    .cont_wivanzim {
        margin-top: -3rem;
        grid-column: 2 / 12;
        grid-row: 5;

        z-index: 1;
    }
    .det_wd{
        font-size: 1.2rem;
        padding-top: 12px;
        text-align: end;
    }
    .titwork {
        font-size: 5rem;
        font-weight: 800;
    }
    .subtitwork {
        font-size: 1.2rem;
        font-weight: 300;
        padding-bottom: 6rem;  
    }
    
}

//Small
@media (min-width: 576px) and (max-width: 767px) {
    .b_cent_ab{
        font-size: 2.5vw;
    }
    .b_tit_wizq{
        font-size: 12vw;
        border-bottom: solid 10px #212427;
    
        grid-column: 1 / 12;
        grid-row: 1;
    
        z-index: 2;
    }

    .home_tit{
        font-size: 5rem;
        padding: 6rem 0;
    }
    .home_com{
        font-size: 1.1rem;
        padding-left: 3rem;
    }
    .link_about{
        font-size: 1.2rem;
    }

    .cont_wnoesarte {
        margin-top: -4rem;
        grid-column: 3 / 11;
        grid-row: 5;
    
        z-index: 1;
    }
    .det_w{
        font-size: 1.3rem;
        padding-top: 12px;
    }
    .b_tit_wder{
        font-size: 12vw;
        border-bottom: solid 10px #212427;
    
        grid-column: 2 / 13;
        grid-row: 1;

        z-index: 2;
    }
    .cont_wivanzim {
        margin-top: -4rem;
        grid-column: 3 / 11;
        grid-row: 5;

        z-index: 1;
    }
    .det_wd{
        font-size: 1.3rem;
        padding-top: 12px;
        text-align: end;
    }

    .titwork {
        font-size: 6rem;
    }
    .subtitwork {
        font-size: 1.5rem;
        font-weight: 300;
        padding-bottom: 6rem;  
    }
}

//Medium
@media (min-width: 768px) and (max-width: 991px) {
    .b_cent_ab{
        font-size: 2.2vw;
    }
    .bs_cen{
        background-color: $primary-color;
    }
    .home_tit{
        font-size: 5rem;
        padding: 6rem 0;
    }
    .home_com{
        font-size: 1.1rem;
        padding-left: 3rem;
    }
    .link_about{
        font-size: 1.2rem;
    }

    .menu_works{
        border-right: none;
    }
    .b_titulo_w{
        font-size: 7rem;
    }
    .cont_over{
        overflow-y: hidden;
        max-height: calc(100vh * 10);
    }
    .work{
        @include border('bottom', 7px, $secondary-color);
        font-size: 2rem;
        margin: 5px 0px;
    }
    .work_sel {
        .material-symbols-outlined {
        font-size: 1.5rem;
        display: inline;
        }
    }
    .top{
        background: none;
    }

    .b_border {
        border-right: none;
    }

    .b_titulo_ab {
        font-size: 4rem;
        font-weight: 900;
        line-height: 4.5rem;
    }

    .b_tit_wizq{
        font-size: 8vw;
        @include border('bottom', 10px, $font-color);
    
        grid-column: 3 / 11;
        grid-row: 1;
    
        z-index: 2;
    }
    .cont_wnoesarte {
        margin-top: -4rem;
        grid-column: 4 / 11;
        grid-row: 5;
    
        z-index: 1;
    }
    .det_w{
        font-size: 1rem;
        padding-left: 15px;
    }
    .b_tit_wder{
        font-size: 8vw;
        @include border('bottom', 10px, $font-color);
    
        grid-column: 3 / 11;
        grid-row: 1;
    }
    .cont_wivanzim {
        margin-top: -4rem;
        grid-column: 3 / 10;
        grid-row: 5;
    }
    .det_wd{
        font-size: 1rem;
        padding-right: 15px;
        text-align: end;
    }

    .titwork {
        font-size: 8rem;
    }
    .subtitwork {
        font-size: 2rem;
    }
}

//Large & >
@media (min-width: 992px) and (max-width: 1199px) {
    .b_cent_ab{
        font-size: 2vw;
    }
    .b_tit_wizq{
        font-size: 7vw;
        @include border('bottom', 10px, $font-color);
    
        grid-column: 4 / 11;
        grid-row: 1;
    }
    .cont_wnoesarte {
        margin-top: -5rem;
        grid-column: 5 / 11;
        grid-row: 5;
    }
    .det_w{
        font-size: 1.1rem;
        padding-left: 15px;
    }
    .b_tit_wder{
        font-size: 7vw;
        @include border('bottom', 10px, $font-color);
    
        grid-column: 3 / 10;
        grid-row: 1;
    }
    .cont_wivanzim {
        margin-top: -5rem;
        grid-column: 3 / 9;
        grid-row: 5;
    }
    .det_wd{
        font-size: 1.1rem;
        padding-right: 15px;
        text-align: end;
    }
}

@media (min-width: 1200px) and (max-width: 1399px) {
    .b_cent_ab{
        font-size: 1.5vw;
    }
    .b_tit_wizq{
        font-size: 7vw;
        @include border('bottom', 10px, $font-color);
    
        grid-column: 4 / 11;
        grid-row: 1;
    }
    .cont_wnoesarte {
        margin-top: -5rem;
        grid-column: 5 / 11;
        grid-row: 5;
    }
    .det_w{
        font-size: 1.1rem;
        padding-left: 15px;
    }

    .b_tit_wder{
        font-size: 7vw;
        @include border('bottom', 10px, $font-color);
    
        grid-column: 3 / 10;
        grid-row: 1;
    }
    .cont_wivanzim {
        margin-top: -5rem;
        grid-column: 3 / 9;
        grid-row: 5;
    }
    .det_wd{
        font-size: 1.1rem;
        padding-right: 15px;
        text-align: end;
    }
}

@media (min-width: 1400px) {
    .b_cent_ab{
        font-size: 1.5vw;
    }
    .b_tit_wizq{
        font-size: 6vw;
        @include border('bottom', 12px, $font-color);
    
        grid-column: 4 / 11;
        grid-row: 1;
    }
    .cont_wnoesarte {
        margin-top: -5rem;
        grid-column: 5 / 11;
        grid-row: 5;
    }
    .det_w{
        font-size: 1.5rem;
        padding-left: 15px;
    }

    .b_tit_wder{
        font-size: 6vw;
        @include border('bottom', 12px, $font-color);
    
        grid-column: 3 / 10;
        grid-row: 1;
    }
    .cont_wivanzim {
        margin-top: -5rem;
        grid-column: 3 / 9;
        grid-row: 5;
    }
    .det_wd{
        font-size: 1.5rem;
        padding-right: 15px;
        text-align: end;
    }
}