.menu_works{
    @include border('right', 10px, $line-color);
}

.cont_over{
    overflow-y: auto;
    max-height: calc(100vh - 10rem - 10px);
}

.work{
    font-weight: 200;
    font-size: 3rem;
    margin: 10px 0px;
    text-decoration: none;
    color: $font-color;
    text-transform: uppercase;
    text-align: end;
    @include border('bottom', 10px, $secondary-color);
    &:hover{
        font-weight: 400;
        color: $font-color;
    }
    .material-symbols-outlined{
        display: none;
    }
}

.work_sel{
    font-weight: 700;
    color: $secondary-color;
    &:hover{
        font-weight: 700;
        color: $secondary-color;
    }
    .material-symbols-outlined {
        display: inline;  
    }
}

.b_tit_wizq{
    font-size: 12rem;
    font-weight: 800;
    text-transform: uppercase;
    background: none;
    color: $font-color;
    border-bottom: solid 15px #212427;

    grid-column: 4 / 11;
    grid-row: 1;

    z-index: 10;
}

.b_tit_wder{
    font-size: 12rem;
    font-weight: 800;
    text-transform: uppercase;
    background: none;
    color: $font-color;
    border-bottom: solid 15px #212427;

    grid-column: 2 / 10;
    grid-row: 1;

    z-index: 10;
}

.det_w{
    font-family: $secondary-font;
    font-weight: 300;
    font-size: 1.2rem;
}

main {
    border-bottom: solid 10px #212427;
}

.container-grid {
    padding-top: 10rem;
    display: grid;
    grid-template-columns: repeat(12, minmax(0,1fr));
}

.cont_wnoesarte {
    margin-top: -5rem;
    grid-column: 5 / 12;
    grid-row: 5;

    z-index: 1;
}

.cont_wivanzim {
    margin-top: -7rem;
    grid-column: 2 / 12;
    grid-row: 5;

    z-index: 1;
}